<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>Derrick Bozich</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>

</head>
<body>

  {{> header}}

  <div class="main">
      {{{body}}}
  </div>

  {{> footer}}

</body>
</html>
